<div class="mdl-grid">
  <br>
    <div *ngFor=" let item of topicArray.topicArray; index as i" class="mdl-cell mdl-cell--4-col col-md-offset-3 col-md-6 col-md-offset-3" style="border-style: solid; margin-bottom: 10px; border-color: green;">
      <h4>{{item.subject}}</h4>
      <h5>{{item.description}}</h5> 
    
    
      <div *ngFor="let comment of item.comments">
        <h6>
          {{comment}}
        </h6>
      </div>
   
    

      
      <input type="text" class=" input-md" #commentInputBox>
     <button class="btn btn-secondary" (click)="addComment(commentInputBox,i)">Add Comment</button>
   
      <!-- <h1>item.subject</h1>
       <h3>item.description</h3>  -->
       <br><br>
    </div>
</div>